[submodule "ShadowGP"]
	path = ShadowGP
	url = https://github.com/isaacwasserman/Shadow-Removal-via-Generative-Priors
[submodule "BlindShadowRemoval"]
	path = BlindShadowRemoval
	url = https://github.com/Linchenchen/BlindShadowRemoval
